# Ignore everything by default
*
!/.gitignore

# Allow explicitly the directories
!/informatyka/
!/informatyka/**

# Explicitly ignore TeX build artifacts
*.aux
*.log
*.synctex.gz
*.out
*.nav
*.snm
*.toc
*.vrb
